<mapper namespace="com.hugh.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.hugh.pojo.User" >
        select * from user
    </select>

    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.hugh.pojo.User" paramterType="com.hugh.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

</mapper>
